
## <summary>policy for nald</summary>


########################################
## <summary>
##	Transition to nald.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nald_domtrans',`
	gen_require(`
		type nald_t, nald_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nald_exec_t, nald_t)
')


########################################
## <summary>
##	Execute nald server in the nald domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nald_initrc_domtrans',`
	gen_require(`
		type nald_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nald_initrc_exec_t)
')


########################################
## <summary>
##	Search nald lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nald_search_lib',`
	gen_require(`
		type nald_var_lib_t;
	')

	allow $1 nald_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nald lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nald_read_lib_files',`
	gen_require(`
		type nald_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nald_var_lib_t, nald_var_lib_t)
')

########################################
## <summary>
##	Manage nald lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nald_manage_lib_files',`
	gen_require(`
		type nald_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nald_var_lib_t, nald_var_lib_t)
')

########################################
## <summary>
##	Manage nald lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nald_manage_lib_dirs',`
	gen_require(`
		type nald_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nald_var_lib_t, nald_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nald environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nald_admin',`
	gen_require(`
		type nald_t;
		type nald_initrc_exec_t;
		type nald_var_lib_t;
	')

	allow $1 nald_t:process { ptrace signal_perms };
	ps_process_pattern($1, nald_t)

	nald_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nald_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nald_var_lib_t)

')

